<mat-nav-list>
  <a mat-list-item routerLink="/products" routerLinkActive="active-link">
    <mat-icon matListItemIcon>storefront</mat-icon>
    <span matListItemTitle>All products</span>
  </a>
  @for (tempProductCategory of productCategories; track tempProductCategory) {
    <a
      mat-list-item
      [routerLink]="['/category', tempProductCategory.id]"
      routerLinkActive="active-link">
      <mat-icon matListItemIcon>label</mat-icon>
      <span matListItemTitle>{{ tempProductCategory.categoryName }}</span>
    </a>
  }
</mat-nav-list>